@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --darkSlateGrey: hsl(234, 29%, 20%);
    --charcoalGrey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
    --tomato: hsl(4, 100%, 67%)
}
body{
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--charcoalGrey);
}
html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
main{
    width: 50%;
    height: 70svh;
    background-color: var(--white);
    border-radius: 40px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



/*========================SECTION========================*/
section{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    /* background-color: red; */
    padding-left: 54px;
    padding-right: 54px;
}
section p:first-child{
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 25px;
}
section p:not(:first-child,:nth-child(2)){
   display: flex;
   align-items: center;
   margin-bottom: 12px;

}
section p:nth-child(2){
    margin-bottom: 30px;
}
section p:nth-child(5){
    margin-bottom: 30px;
}
section p span{
    margin-left: 15px;
}
/*=================EMAIL=====================*/
.email{
    display: flex;
    justify-content: space-between;
}
label{
    font-weight: 700;

}
.email-check {
    color: var(--tomato);
    display: none;
}
.active{
    display: block;
}
.invalid {
    border: 1px solid var(--tomato); 
    color: var(--tomato);
    background-color: rgb(255, 222, 216);
    animation: shake 0.5s ease-in-out;
}
label:last-child{
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(5px);
    }
  }


/*===================INPUT & BUTTON====================*/
input{
    height: 60px;
    border-radius: 7px;
    border: 1px solid var(--grey);
    font-size: 16px;
    color: var(--grey);
    padding-left: 20px;
    margin: 10px 0 20px 0;
}
button{
    height: 60px;
    background-color: var(--darkSlateGrey);
    color: var(--white);
    border-radius: 7px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    transition: .3s ease-in-out all;
}
button:hover{
    cursor: pointer;
    opacity: 90%;
}


/*=================ASIDE=====================*/
aside{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-contaier{
    width: 90%;
    height: 92%;
    background-image: url(assets/images/illustration-sign-up-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}



/*===============SUCCESS-MESSAGE==============*/
.success-message{
    display: none;
    width: 30%;
    height: 60%;
    border-radius: 30px;
    background-color: var(--white);
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 0px 70px 0 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-container{
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(assets/images/icon-success.svg);
    margin-bottom: 30px;
}
.success-message p:nth-child(2){
    display: flex;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 60px;
}
.success-message p:nth-child(3){
    line-height: 25px;
}
.success-message button{
    margin-top: 30px;
    width: 100%;
}
.attribution{
    margin-top: 30px;
    color: var(--white);
}
.attribution a{
    color: var(--tomato);
}



/*============MEDIA-QUERY===================*/
@media only screen and (width< 1600px){
    section p:first-child{
        font-size: 30px;
    }
    section p:nth-child(2), section p:nth-child(3),
    section p:nth-child(4), section p:nth-child(5)
    {
        font-size: 14px;
    }
    button,input{
        font-size: 14px;
    }
    main{
        width: 60%;
        height: 70svh;
        
    }
}

@media only screen and (width< 1100px){
    section p:first-child{
        font-size: 25px;
    }

    button,input{
        font-size: 14px;
    }
    main{
        width: 80%;
    }
}



@media only screen and (width<= 450px){
    main{
        width: 100%;
        height: 100%;
        flex-direction: column-reverse;
        border-radius: 0;
    }
    section{
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        text-align: justify;
        /* background-color: red; */
        padding: 0 15px 0 15px;
    }

    /* button{
        height: 200px;
    } */
    section p:first-child{
        font-size: 40px;
    }

    /*=================ASIDE=====================*/
    aside{
        width: 100%;
        height: 40%;
        display: flex;
        align-items: flex-start;
    }
    .img-contaier{
        width: 100%;
        height: 92%;
        background-image: url(assets/images/illustration-sign-up-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-top: 0;

    }
    .attribution{
        display: none;
    }

    /*===============SUCCESS-MESSAGE==============*/
    .success-message{
        display: none;
        width: 100%;
        height: 100%;
        border-radius: 0px;
        background-color: var(--white);
        justify-content: center;
        align-items: left;
        flex-direction: column;
        padding: 0px 20px 0 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: relative;
    }

    button{
        position: relative;
        bottom: 0;
    }
}
